<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form action="{{ url_for('login_post') }}" method="POST">
        <label for="username">Username: </label><input name="username" id="username">
        <label for="password">Password: </label><input name="password" id="password" type="password">
        <input type="hidden" value="{{ success_redirect }}" name="redirect">
        <button type="submit">Login</button>
    </form>
</body>
</html>